  body{
    display:flex;
    justify-content: center;
 }

  .container{
      display: flex;
      justify-content: space-around;
      align-items:center;
      width: 500px;
      height: 100px;
      background: #ffdd32;
      border-radius: 9px;
      box-shadow: 4px 4px 10px gray;
  }
  
  .hora{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 35px;
      border-radius: 4px;
      background: gray;
      font-size: 25px;
      font-weight: bold;
      color: white;
      font-family: monospace;
      
  }
  
  .min{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 35px;
      border-radius: 4px;
      background: gray;
      font-size: 25px;
      font-weight: bold;
      color: white;
      font-family: monospace;
      
  }
  
  .seg{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 35px;
      border-radius: 4px;
      background: gray;
      font-size: 25px;
      font-weight: bold;
      color: white;
      font-family: monospace;
      
  }